*{ margin: 0; padding: 0; box-sizing: border-box;}





header .container-fluid{
    background-color: #2e3a46;
}
header img{
    width: 35px;
    margin: 5px;
}

main{
    background-color: #1e2d3b;
    height: calc(100vh - 45px);
}



.Cardbox{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-model {
    padding: 0.6rem;
    padding-bottom: 1.3rem;
    background-color: #2e3a46;
    margin: 10px 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-model img{
    width: 160px;
    height: 160px;
    object-fit: cover;
    object-position: center top;
}
.card-model h4{
    font-size: medium;
    max-width: 140px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 10px;
    color: white;
}

.card-model span{
    font-size: small;
    color: #777c7f;
}